name: Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: gradle/actions/setup-gradle@v5

      - run: ./gradlew --stacktrace packageReleaseDistributionForCurrentOS packageReleaseUberJarForCurrentOS

      - name: Archive build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: release ${{ matrix.os }}
          if-no-files-found: error
          path: |
            application/build/compose/binaries/main-release/*/*
            application/build/compose/jars/*
